# Input files (user provides these)
body.mm
body.tex
bibliography.bib
# linked folder
/content/images

# Latex tmp files
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.run.xml
*.toc

# generated pdf
thesis.pdf
